/* Resume */
.about-page {
  width: 430px;
  display: inline-block;
  justify-content: center;
}

.about-img-container {
  display: inline-flex;
  position: sticky;
  width: 300px;
}

.about-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
